#buttons {
    background-color: rgb(21, 7, 85);
    color: bisque;
    font-size: 120px;
    padding: 8px;
    margin: auto;
}

body {
    display: inline-block;
    text-align: center;
    margin: 0;
}

#space {
    font-style: bold;
    font-size: 512px;
    max-height: 256px;
}