#buttons {
    background-color: rgb(21, 7, 85);
    color: bisque;
    font-size: 120px;
    padding: 8px;
}

body {
    display: inline-block;
    text-align: center;
    margin: 0;
}

#button_up {
    margin: 128px;
}
